extends partials/layout

block vars
  - const title = 'Amazon Crawl';
  - const pageID = 'index';

block eod
  script
    +loadModule('pages/index.js')

block content
  main(class="container")
      h1(class="main-heading") Crawl Amazon product with ProxyCrawl
      form(id="main-form" class="form" method="POST" action="/product")
        div(class="input-container")
          label(class="label") ProxyCrawl Token
          input(class="input" name="token" placeholder="Token" required)
        div(class="input-container")
          label(class="label") Product url
          input(class="input" name="url" placeholder="Enter product Url" required)
        button(type="submit" class="button")
          span(class="button__text") Start Crawling
